<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      GitHub's API rate limit has been reached. It will be reset in one minute.
    </div>
  </div>

  <div class="example-table-container">

    <table mat-table [dataSource]="dataSource" class="example-table"
           matSort  >
   
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let row">{{row.Id}}</td>
      </ng-container>

      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>NAME</th>
        <td mat-cell *matCellDef="let row">{{row.Name}}</td>
      </ng-container>

      <ng-container matColumnDef="CV">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>CV</th>
        <td mat-cell *matCellDef="let row">{{row.CV}}</td>
      </ng-container>

      <ng-container matColumnDef="IsCurrent">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>CURRENT</th>
        <td mat-cell *matCellDef="let row">
          <span *ngIf="row.IsCurrent">Yes</span>
          <span *ngIf="!row.IsCurrent">No</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="LastUpdated">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>LAST UPDATED</th>
        <td mat-cell *matCellDef="let row">{{row.LastUpdated | date:'dd MMM yy HH:mm'}}</td>
      </ng-container>


      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>ACTIONS</th>
  
        <td mat-cell *matCellDef="let row; let i=index;">
          <button mat-icon-button color="primary" (click)="startEdit(row.Id, row.Name, row.CV, row.IsCurrent)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
  
          <button mat-icon-button color="warn" (click)="deleteItem(row.Id, row.Name, row.CV, row.IsCurrent, row.LastUpdated)">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10]"></mat-paginator>
  <button mat-icon-button color="primary" (click)="addNew()">
    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
  </button>
</div>


